
.text {
  width: 126vw;
  height: 187vw;
  margin-top: 38vw;

  background-color: #000;
}

.one img {
  float: none;

  width: 126vw;

  animation: img 10s forwards;

  filter: blur(10px);
}

.two {
  display: none;
}

h2 {
  position: relative;

  opacity: 0;
  color: #FFFFFF;

  font-family: 'Montserrat';
  font-size: 14vw;
  font-weight: 300;
}

#first {
  width: 20vw;
  margin-top: -217vw;
  margin-left: 6vw;
}

#second {
  margin-top: -15vw;
  margin-left: 101vw
}

h1 {
  position: relative;

  margin-top: 35vw;
  margin-left: 4vw;

  animation: h1 10s forwards;

  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 34vw;
  font-weight: 900;

  filter: blur(10px);
}

.box {
  position: absolute;

  width: 50vw;
  height: 50vw;
  margin-top: 27vw;
  margin-left: 40vw;

  color: #fff;
  border: 2vw solid;
}

h3 {
  margin-top: 109vw;
  margin-left: -75vw;

  transform: rotate(90deg);

  opacity: 0;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 12vw;
  font-weight: 300;
}

h4 {
  position: relative;

  margin-top: -27vw;
  margin-left: 27vw;

  opacity: 0;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 12vw;
  font-weight: 300;
}

h5 {
  margin-top: -21vw;
  margin-left: 115vw;

  transform: rotate(270deg);

  opacity: 0;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 12vw;
  font-weight: 300;
}

#new {
  position: absolute;

  width: 22vw;
  height: 22vw;
  margin-top: -13vw;
  margin-left: 53vw;

  color: #fff;
  border: 2vw solid
}

p {
  width: 113vw;
  margin-left: 12vw;
  padding-top: 20vw;

  opacity: 0;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 5.5vw;
  font-weight: 100;
  line-height: 6.5vw;
}

.card2 {
  margin-top: 21vw;
}

.card2 p {
  width: 95vw;
}

.card3 {
  margin-top: 21vw;
}

.card3 p {
  width: 107vw;
}

@keyframes img {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes h1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes h1 {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}
